<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>unit204001</title>
  </head>
  <body>
    <div class="x-blog-template"><h1>网站资源分享</h1>

<h3>导语</h3>

<blockquote>
  <p>本文章主要想和大家分享一些，本主平时经常逛的一些优秀资源网站，以及本主认为实用性强，具有参考价值的资源信息等。内容持续更新整理！ <br />
  最后更新时间：2016-07-08</p>
</blockquote>

<h2>一、综合门户</h2>

<ol>
<li><a href="http://www.runoob.com/">菜鸟教程</a> 提供了最全的编程技术基础教程, 介绍了HTML、CSS、Javascript、Python，Java，Ruby，C，PHP , MySQL等各种编程语言的基础知识。 同时该站中也提供了大量的在线实例，通过实例，可以更好的帮助学习编程。</li>
<li><a href="http://www.java1234.com/">Java知识分享网</a> 一个以Java语言为基础的知识分享网。里面分享了很多Java相关的免费资源，内容包括：站长原创视频、书籍、项目等。</li>
<li><a href="http://www.oschina.net/">开源中国</a> 是目前中国最大的开源技术社区。我们传播开源的理念，推广开源项目，为 IT 开发者提供了一个发现、使用、并交流开源技术的平台。目前开源中国社区已收录超过两万款开源软件。</li>
<li><a href="https://www.awesomes.cn/">前端资源库</a> 免费开源的高质量前端库、框架和插件的资源集合网站</li>
</ol>

<h2>二、优秀开源项目</h2>

<ol>
<li><a href="http://spring.io/">Spring</a></li>
<li><a href="http://hibernate.org/">Hibernate</a></li>
<li><a href="http://cn.vuejs.org/">vue.js</a></li>
</ol>

<h2>三、优秀博客</h2>

<ol>
<li><a href="http://www.ruanyifeng.com/">阮一峰的个人网站</a></li>
<li><a href="http://www.liaoxuefeng.com/">廖雪峰的官方网站</a></li>
</ol>
    </div>
  </body>
</html>